streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
langchain-community
python-pptx
pandas
python-docx
openpyxl
asyncio
dataclasses
uuid
typing-extensions
numpy
markdown